<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Meetup App</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1></h1>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Find Meetings</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Create New Meeting</a></li>
	</ul>
</body>
</html>